.File_Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto !important;
    background-color: #96d0df;
}

.File_Content {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    width: 92%;
}

.Actor_Biography_Title {
    display: flex;
    align-self: flex-start;
    font-size: 1.25em;
    font-weight: bold;
}

.Actor_Biography {
    display: flex;
    align-self: flex-start;
    font-size: 1em;
    font-weight: normal;
}